body {
    margin: 0px;
}

select {
    width: 350px;
    height: 40px;
    padding: 16px 20px;
    border: 2px solid #28ADB7;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h2 {
    font-size: 2em;
    color: #D79632;
    text-transform: uppercase;
    font-weight: bold;
}

option {
    background-color: #28ADB7;
}


video {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    object-fit: fill;
}

.block1 {
    width: 100%;
}

.video-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.formlocation {
    position: absolute;
    top: 450px;
    left: 570px;
}

.usemylocation {
    position: absolute;
    top: 520px;
    left: 570px;
    width: 350px;
    height: 40px;
    font-family: inherit;
    color: white;
    background: linear-gradient(to right, #215B5C, #29A293 51%, #215B5C);
    border: none;
    text-shadow: none;
    font-weight: 700;
    text-align: center;
    z-index: -1;
    cursor: pointer;
    text-transform: uppercase;
}


.logo {
    position: absolute;
    top: 150px;
    left: 500px;
}

.block2 {
    background-image: url("bg-white.jpg");
    height: 100vh;
}

.statsContainer {
    height: 5vw;
    padding: 0px 4em;
    border-right: 2px solid #D79632;
}

.statsLabel {
    color: #D79632;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2em;
    font-style: italic;
    line-height: 1;
    min-width: 5em;
}

.statsText {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    padding-top: .2em;
}

.statsButton {
    display: block;
    border: none;
    margin: 0px 5em;
    width: 15em;
    height: 3em;
    color: white;
    background-color: #005A64;
    z-index: 1;
    position: relative;
}

.statsButton::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    transition: clip-path 0.2s linear;
}

.statsButton:hover::before {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.titlePicture {
    position: absolute;
    right: 40%;
    width: 25%;
    height: 50%;
}

.flicker {
    animation: flickerAnim 0.3s linear;
    animation-iteration-count: 5;
}

@keyframes flickerAnim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.blockCorporateCLients {
    position: relative;
    background: #FFF url(https://paniqescaperoom.com/img/paniq/bg-white-2.jpg) no-repeat center;
}

.logosBlock{
    z-index: 2;
}

.logosBlock:before {    
    content: '';
    position: absolute;
    z-index: -1;
    top: 5%;
    left: 5%;   
    right: 5%;
    height: 90%;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    background: url(https://paniqescaperoom.com/img/paniq/paniq-watermark.png) no-repeat center;
    background-size: auto;
    background-size: contain;
    box-sizing: border-box;
}

.logosBlock>div>img {
    z-index: 2;
    width: 8em;
    height: 3em;
    padding: .5em;
    object-fit: contain;
}


.newsCarousel{
    position: relative;
    width: 100vw;
    height: 30vw;
    overflow: hidden;
}

.newsCarousel > img {
    position: absolute;
    width: 50%; 
    height: inherit;
    opacity: 1;
    transition: all 1s ease-out;
    filter: grayscale(1);
}

.newsCarouselLeft{
    right: -75% !important;
    opacity: 0 !important;
}

.newsCarouselRight{
    right: 125% !important;
    opacity: 0 !important;
}   

.newsItemRight{
    right: -25% !important;
}

.newsItemCenter {
    filter: grayscale(0) !important;
    right: 25% !important;
}

.newsItemLeft {
    right: 75% !important;   
}


.newsCarousel > div {
    position: absolute;
    background-color: white; 
    width: 5vw;
    height: 5vw;
    transition: all 0.1s linear;
    z-index: 2;
}

.newsCarousel > div:hover{
    transform: scale(1.2);
}

#play{
    top: 40%;
    right: 50%;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

#prevNewsItem{
    top: 42%;
    left: 10%;
    clip-path: polygon(60% 0, 35% 48%, 60% 100%, 25% 100%, 0% 50%, 25% 0%);
}

#nextNewsItem{
    top: 42%;
    right: 10%;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 40% 100%, 65% 52%, 40% 0);
}