header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    font-size: 20px;
    font-family: 'Times New Roman';
    box-sizing: border-box;
}

nav>div>a>img {
    width: 150px;
    height: 50px;
}

.menu>li>a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-bottom: 4px solid rgba(87, 201, 201, 0);

}

.menu>li>a:hover {
    border-bottom: 5px solid rgb(87, 201, 201);
    color: rgb(87, 201, 201, 1);
    
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    text-align: center;
    float: right;
    overflow: hidden;
}