#celebrety {
    position: absolute;
    top: 30px;
    left: 33%;
    font-family: 'Montserrat';
    font-weight: 800;
    font-family: sans-serif;
    color: gold;
}

.TV {
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .CELEBRITY-CUSTOMERS>#celebrety {
        left: 25%;
    }
}

@media only screen and (max-width: 800px) {
    .CELEBRITY-CUSTOMERS>#celebrety {
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .CELEBRITY-CUSTOMERS>#celebrety {
        font-size: 20px;
        top: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .CELEBRITY-CUSTOMERS>#celebrety {
        font-size: 15px;
        top: 15px;
    }
}